<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutmobile.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>
<body>

<div layout:fragment="contentorder">
    <!-- 장바구니 리스트 -->
    <div class="container cart-container mt-3">
        <div class="list-group">
            <div th:each="item : ${list}" class="list-group-item cart-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img th:if="${item.imgName != null}"
                         th:src="@{${item.imgName}}" alt="menu image" class="me-3">
                    <img th:if="${item.imgName == null}"
                         th:src="@{/store/menu/default.png}" alt="menu image" class="me-3">
                    <div>
                        <div th:text="${item.storemenuName}" class="fw-bold"></div>
                        <div th:text="${#numbers.formatInteger(item.storemenuPrice, 0)} + '원'" class="text-muted small"></div>
                    </div>
                </div>
                <div>
                    <button th:disabled="${item.storemenuCount<=1}" type="button" onclick="minusCount(this)"
                            th:data-count="${item.storemenuCount}" th:data-cartitemid="${item.storecartitemNum}">-</button>
                    <span th:text="${item.storemenuCount} + '개'" class="text-end"></span>
                    <button type="button" onclick="plusCount(this)"
                            th:data-count="${item.storemenuCount}" th:data-cartitemid="${item.storecartitemNum}">+</button>
                </div>
                <div>
                    <button>item 삭제버튼</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 총 가격 및 주문 버튼 -->
    <div th:if="${list != null}" class="cart-bottom-bar" th:text="주문"></div>

    <script>
        function minusCount(button) {
            const cartItemId = button.dataset.cartitemid;
            let count = parseInt(button.dataset.count);
            if (count <= 1) return;
            count--;
            console.log(cartItemId);
            fetch("/member/store/cart/modify/"+cartItemId+"/"+count)
                .then(()=>location.reload())
        }
        function plusCount(button) {
            const cartItemId = button.dataset.cartitemid;
            let count = parseInt(button.dataset.count);
            count++;
            fetch("/member/store/cart/modify/"+cartItemId+"/"+count)
                .then(()=>location.reload())
        }
    </script>
</div>
</body>
</html>