<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>매니지먼트 시스템</title>
</head>
<body style="background-color: #f8f9fa;">

<div layout:fragment="content" class="container mt-4">


    <p th:text="${#authentication.principal.admin.adminName}"></p>
    <p th:text="${#authentication.principal.admin.adminPosition}"></p>



</div>

</body>
</html>
