<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>호텔 룸 상세 정보</title>
</head>
<body>
<h1>호텔 룸 상세 정보</h1>
<div>
    <p><strong>방 번호:</strong> <span th:text="${hotelRoom.hotelRoomNum}"></span></p>
    <p><strong>방 이름:</strong> <span th:text="${hotelRoom.hotelRoomName}"></span></p>
    <p><strong>방 타입:</strong> <span th:text="${hotelRoom.hotelRoomType}"></span></p>
    <p><strong>가격:</strong> <span th:text="${hotelRoom.hotelRoomPhone}"></span>원</p>
</div>

<h2>배정된 회원 정보</h2>
<th:block th:each="members: ${hotelRoom.getMemberDTOList()}">
    <div th:if="${members.memberNum != null}">
        <p><strong>이름:</strong> <span th:text="${members.getMemberName()}"></span></p>
        <p><strong>이메일:</strong> <span th:text="${members.getMemberEmail()}"></span></p>
        <p><strong>전화번호:</strong> <span th:text="${members.getMemberPhone()}"></span></p>
        <p><strong>이메일:</strong> <span th:text="${members.getMemberPassword()}"></span></p>
        <p><strong>방등록일자:</strong> <span th:text="${members.getCreateDate()}"></span></p>

    </div>
    <div th:if="${members.getMemberNum()
        == null}">
        <p>배정된 회원이 없습니다.</p>
    </div>

</th:block>


<a href="/hotel-room">목록으로 돌아가기</a>
</body>
</html>