<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>조직 수정</title>
    <style>
        input[readonly] {
            background-color: #e9ecef !important;
            color: #6c757d; /* 텍스트도 회색 */
        }
    </style>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">조직 수정</h2>

        <form id="modifyForm" action="/company/modify" method="post" enctype="multipart/form-data">
            <div class="container p-4" style="max-width: 500px;">

                <div class="mb-3 user-box text-center">
                    <div class="border mb-2" style="width: 103px; height: 132px; margin: auto ;display: flex; align-items: center; justify-content: center;">
                        <img id="pictureTemp"
                             th:src="${companyDTO.companyPictureMeta != null} ? @{${companyDTO.companyPictureMeta}} : ''"
                             style="width: 100%; height: 100%; object-fit: contain;"
                             th:classappend="${companyDTO.companyPicture == null} ? ' d-none' : ''">
                    </div>
                    <p class="file-name">수정할 이미지를 선택해 주세요.</p>
                    <button id="pictureBtn" type="button" class="custom-file-upload btn btn-primary border" style="z-index: 99">이미지 선택</button>
                    <input hidden type="file" id="adminProfile" name="companyPicture" class="btn btn-light form-control rounded-pill"
                           accept=".webp, .png, .jpeg, .jpg, .gif" style="padding: 8px;">
                    <small id="fileError" class="text-danger d-none"><br>올바른 파일이 선택되지 않았습니다.<br>.webp, .jpg, .jpeg, .png, .gif 파일만 지원합니다.</small>
                </div>

                <!--브랜드-->
                <div class="mb-2">
                    <label class="form-label">소속</label>
                    <select id="companySelectedBrand" class="form-control" name="companyType" disabled>
                        <option value="center" th:selected="${companyDTO.companyType == 'center'}">본사</option>
                        <option value="branch" th:selected="${companyDTO.companyType == 'branch'}">지점</option>
                        <option value="facility" th:selected="${companyDTO.companyType == 'facility'}">외부시설</option>
                    </select>
                    <input type="hidden" name="companyType" th:value="${companyDTO.companyType}">
                    <input type="hidden" name="companyNum" th:value="${companyDTO.companyNum}">
                    <input type="hidden" name="companyStatus" th:value="${companyDTO.companyStatus}">
                </div>

                <div class="mb-2">
                    <label class="form-label" id="brandLabel">브랜드명</label>
                    <input type="text" name="companyBrand" id="inputBrand" class="form-control" th:value="${companyDTO.companyBrand}">
                </div>


                <label class="form-label" for="companyParent" id="companyParentLabel" hidden>소속 본사 선택</label>
                <select type="text" id="companyParent" class="form-control" name="companyParent" hidden >
                    <option th:each="companyDTO : ${company}" th:text="${companyDTO.companyName}" th:value="${companyDTO.companyNum}" th:selected="${company.companyNum == companyDTO.companyParent}"></option>
                </select>

                <div class="mb-2">
                    <label class="form-label">상호명</label>
                    <input type="text" name="companyName" id="companyName" class="form-control" th:value="${companyDTO.companyName}">
                </div>
                <div class="mb-2">
                    <label class="form-label">사업자등록번호</label>
                    <div class="row g-2">
                        <div class="col">
                            <input type="number" id="companyBusinessNumOne" class="form-control">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col">
                            <input type="number" id="companyBusinessNumTwo" class="form-control">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col">
                            <input type="number" id="companyBusinessNumThree" class="form-control">
                        </div>
                        <input hidden name="companyBusinessNum" id="companyBusinessNum" th:value="${companyDTO.companyBusinessNum}">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">대표자명</label>
                    <input type="text" name="companyCeoName" id="companyCeoName" class="form-control" th:value="${companyDTO.companyCeoName}">
                </div>
                <div class="mb-2">
                    <label class="form-label">전화번호</label>
                    <div class="row g-2">
                        <div class="col">
                            <select id="companyPhoneone" class="form-select">
                                <option>02</option>
                                <option>031</option>
                                <option>032</option>
                                <option>041</option>
                            </select>
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col">
                            <input type="number" id="companyPhonetwo" class="form-control">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col">
                            <input type="number" id="companyPhonethree" class="form-control">
                        </div>
                        <input hidden name="companyPhone" id="companyPhone" th:value="${companyDTO.companyPhone}">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label">이메일</label>
                    <input type="email" name="companyEmail" id="companyEmail" class="form-control" th:value="${companyDTO.companyEmail}">
                </div>
                <div class="mb-4">
                    <label class="form-label">주소</label>
                    <input onclick="addressApi()" name="companyAddress" type="text" id="companyAddress" class="form-control" th:value="${companyDTO.companyAddress}">

                    <input type="hidden" id="companyLatitude" name="companyLatitude" th:value="${companyDTO.companyLatitude}">
                    <input type="hidden" id="companyLongitude" name="companyLongitude" th:value="${companyDTO.companyLongitude}">
                    <input type="hidden" id="originalAddress" th:value="${companyDTO.companyAddress}">
                    <input type="hidden" id="companyWtmX" name="companyWtmX" readonly>
                    <input type="hidden" id="companyWtmY" name="companyWtmY" readonly>
                </div>
                <div class="d-flex justify-content-center gap-3">
                    <a th:href="@{/company/list}" class="btn btn-secondary">목록</a>
                    <button type="button" class="btn btn-success" onclick="submitForm(this)">등록</button>

                </div>
            </div>
        </form>

        <form>
            <button hidden id="companyPictureBtn" type="button" class="custom-file-upload btn btn-primary border" style="z-index: 99">이미지 선택</button>
            <input hidden type="file" id="companyPictureTemp" name="companyPicture" class="btn btn-light form-control rounded-pill">
        </form>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=86099e0ef2896853401ec861fd5ea35b&libraries=services"></script>
        <script>
            //주소 검색
            var geocoder = new daum.maps.services.Geocoder();
            function addressApi() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = data.address;
                        document.getElementById("companyAddress").value = addr;
                    }
                }).open();
            }
            
            // 가입양식 관련
            function submitForm(button) {
                // 주민번호 합체
                document.getElementById('companyBusinessNum').value = document.getElementById('companyBusinessNumOne').value + "-" + document.getElementById('companyBusinessNumTwo').value + "-" + document.getElementById('companyBusinessNumThree').value;
                // 폰번호 합체
                document.getElementById('companyPhone').value = document.getElementById('companyPhoneone').value + "-" + document.getElementById('companyPhonetwo').value + "-" + document.getElementById('companyPhonethree').value;
                console.log(document.getElementById('companyPhone').value);
                
                //주소 좌표 변환 후 form submit
                let companyAddress = document.getElementById("companyAddress").value;
                let originalAddress = document.getElementById("originalAddress").value;
                if (companyAddress!==originalAddress) {
                    geocoder.addressSearch(companyAddress, function(results, status) {
                        if (status === daum.maps.services.Status.OK) {
                            var result = results[0];
                            document.getElementById("companyLatitude").value = result.y;
                            document.getElementById("companyLongitude").value = result.x;
                            fetch(`https://dapi.kakao.com/v2/local/geo/transcoord.json?x=${result.x}&y=${result.y}&output_coord=WTM`, {
                                headers: {
                                    Authorization: 'KakaoAK 7cb5773218158eba334d7c0a3f26cd9d'
                                }
                            })
                                .then(response => response.json())
                                .then(data => {
                                    document.getElementById("companyWtmX").value = data.documents[0].x;
                                    document.getElementById("companyWtmY").value = data.documents[0].y;
                                    button.closest("form").submit();
                                })
                                .catch(error=>{
                                    console.error(error);
                                    alert("좌표 변환 중 오류")
                                })
                        } else {
                            alert("주소를 다시 확인해주세요.");
                        }
                    });
                }else{
                    button.closest("form").submit();
                }
            }

            // 소속용
            companySelectedBrand = document.getElementById("companySelectedBrand")
            companyParent = document.getElementById("companyParent")
            companyParentLabel = document.getElementById("companyParentLabel")
            brandLabel = document.getElementById("brandLabel")
            inputBrand = document.getElementById("inputBrand")

            companySelectedBrand.addEventListener('change', function () {
                if (companySelectedBrand.value === "center") {
                    companyParent.hidden = true;
                    companyParentLabel.hidden = true;
                    brandLabel.hidden = false;
                    inputBrand.hidden = false;

                } else if (companySelectedBrand.value === "branch" || companySelectedBrand.value === "facility") {
                    companyParent.hidden = false;
                    companyParentLabel.hidden = false;
                    brandLabel.hidden = true;
                    inputBrand.hidden = true;
                    inputBrand.value = "";
                }
            });


            // 프로필 사진
            document.getElementById('adminProfile').addEventListener('change', function () {
                const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.webp)$/i;
                const filePath = this.value;
                const errorMessage = document.getElementById('fileError');
                const previewImage = document.getElementById('pictureTemp');
                const file = this.files[0];

                if (!allowedExtensions.exec(filePath)) {
                    this.value = '';
                    errorMessage.classList.remove('d-none');
                    previewImage.classList.add('d-none');
                } else {
                    errorMessage.classList.add('d-none');

                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            previewImage.src = e.target.result;
                            previewImage.classList.remove('d-none');
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });

            document.getElementById('pictureBtn').addEventListener('click', function () {
                document.getElementById('adminProfile').click();
            });


            document.getElementById('adminProfile').addEventListener('change', function () {
                let fileName = this.files.length > 0 ? this.files[0].name : "사진이 선택되지 않았습니다.";
                document.querySelector('.file-name').textContent = fileName;
            });

            window.addEventListener('DOMContentLoaded', function () {
                const businessNum = document.getElementById('companyBusinessNum').value;

                if (businessNum) {
                    const [part1, part2, part3] = businessNum.split("-");
                    document.getElementById('companyBusinessNumOne').value = part1 || '';
                    document.getElementById('companyBusinessNumTwo').value = part2 || '';
                    document.getElementById('companyBusinessNumThree').value = part3 || '';
                }

                const phone = document.getElementById('companyPhone').value;
                if (phone) {
                    const [p1, p2, p3] = phone.split("-");
                    document.getElementById('companyPhoneone').value = p1 || '';
                    document.getElementById('companyPhonetwo').value = p2 || '';
                    document.getElementById('companyPhonethree').value = p3 || '';
                }
            })

            // 회사 유형에 따라 브랜드명 수정 막기 (지사, 지점은 브랜드 수정 불가)
            const type = document.getElementById('companySelectedBrand').value;
            const brandInput = document.getElementById('inputBrand');

            if (type === 'branch' || type === 'facility') {
                brandInput.setAttribute('readonly', true); // 또는 'disabled'
                brandInput.classList.add('bg-light'); // 회색 배경 스타일
            }

            // 이미지가 있을 경우 보여주기
            const pictureTemp = document.getElementById('pictureTemp');
            if (pictureTemp.src && !pictureTemp.src.includes('data:') && !pictureTemp.src.includes('#')) {
                pictureTemp.classList.remove('d-none');
            }

        </script>

    </div>

</div>
</body>
</html>