<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>조직 상세보기</title>
</head>
<body>
<div layout:fragment="content" class="w-100 vh-100 bg-light">

  <div class="container p-4 rounded shadow-sm w-100 h-100" style="max-width: 400px;">
    <div class="d-flex justify-content-center">
      <h2 class="text-center mb-4">상세보기</h2>
    </div>

    <div class="mb-3 user-box text-center">
      <div class="border mb-2" style="width: 103px; height: 132px; margin: auto ;display: flex; align-items: center; justify-content: center;">
        <img th:src="@{${companyDTO.companyPictureUrl}}" alt="프로필" style="width: 100%; height: 100%; object-fit: contain;">
      </div>
      <p class="file-name" th:text="${companyDTO.companyPictureName}">프로필 사진</p>
    </div>

    <div class="mb-2">
      <label class="form-label">소속</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyType}" readonly>
    </div>

    <div class="mb-2" th:if="${companyDTO.companyType == 'center'}">
      <label class="form-label">브랜드명</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyBrand}" readonly>
    </div>

    <div class="mb-2" th:if="${companyDTO.companyType != 'center'}">
      <label class="form-label">소속 본사</label>
      <input type="text" class="form-control" th:value="${companyDTO.parentCompanyName}" readonly>
    </div>

    <div class="mb-2">
      <label class="form-label">상호명</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyName}" readonly>
    </div>

    <div class="mb-2">
      <label class="form-label">사업자등록번호</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyBusinessNum}" readonly>
    </div>

    <div class="mb-2">
      <label class="form-label">대표자명</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyCeoName}" readonly>
    </div>

    <div class="mb-2">
      <label class="form-label">전화번호</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyPhone}" readonly>
    </div>

    <div class="mb-2">
      <label class="form-label">이메일</label>
      <input type="email" class="form-control" th:value="${companyDTO.companyEmail}" readonly>
    </div>

    <div class="mb-4">
      <label class="form-label">주소</label>
      <input type="text" class="form-control" th:value="${companyDTO.companyAddress}" readonly>
    </div>

    <div class="d-flex justify-content-center">
      <a th:href="@{/company/list}" class="btn btn-secondary">목록으로</a>
    </div>
  </div>

</div>
</body>
</html>
