<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>시설서비스 등록</title>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">시설서비스 등록</h2>

        <form id="insertForm" action="/facility/insert" method="post" enctype="multipart/form-data">
            <div class="container p-4" style="max-width: 700px;">

                <div class="mb-2">
                    <label class="form-label" for="companyName">시설명</label>
                    <input type="text" id="companyName" th:value="${company}" class="form-control" readonly>
                    <input type="hidden" th:value="${companyNum}" id="companyNum" name="companyNum" class="form-control">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="facTitle">첫 번째 입력 칸</label>
                    <textarea name="facTitle" id="facTitle" class="form-control"></textarea>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="facContent">두 번째 입력 칸</label>
                    <textarea name="facContent" id="facContent" class="form-control"></textarea>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <button type="submit" class="btn btn-success" >등록</button>
                    <a th:href="@{/facility/list}" class="btn btn-danger">취소</a>
                </div>
            </div>
        </form>

    </div>

</div>
</body>
</html>