<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <meta charset="UTF-8">
  <title>시설서비스 관리</title>
  <style>
    .table td {
      vertical-align: middle;
    }

    .badge-outline-danger {
      color: #dc3545;
      background-color: #fff;
      border: 1px solid #dc3545;
      padding: 0.35em 0.6em;
      font-size: 0.75rem;
      border-radius: 0.25rem;
    }
    .badge-outline-success {
      color: #198754;
      background-color: #fff;
      border: 1px solid #198754;
      padding: 0.35em 0.6em;
      font-size: 0.75rem;
      border-radius: 0.25rem;
    }
  </style>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

  <div class="container mt-4 w-100 bg-light">
    <h2 class="fw-bold mb-4 text-center">시설서비스 관리</h2>

    <div class="row mt-4">
      <div class="col-12">
        <table class="table table-bordered text-fs mb-0">
          <thead class="table-light text-center">
            <tr>
              <th style="width: 11%">프로필 사진</th>
              <th style="width: 14%;">서비스명</th>
              <th style="width: 28%;">상세설명</th>
              <th style="width: 14%;">가격</th>
              <th style="width: 14%;">사용중 / 전체</th>
              <th style="width: 14%;"></th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="item : ${list}" class="text-center">

              <td>
                <img th:if="${item.fsPictureMeta != null}"
                     th:src="@{${item.fsPictureMeta}}"
                     style="width: 60px; height: 80px;">
                <img th:unless="${item.fsPictureMeta != null}"
                     th:src="@{/profile/default.png}"
                     style="width: 60px; height: 80px;">
              </td>
              <td th:text="${item.fsName}">서비스명</td>
              <td th:text="${item.fsContent}">상세설명</td>
              <td th:text="${item.fsPrice}+' 원'">0 원</td>
              <td th:text="${item.fsAmount}+' / '+${item.fsAmountMax}">0/0</td>
              <td>
                <!-- 비활성화 상태 배지 -->
                <span th:if="${item.fsStatus != null and item.fsStatus.toUpperCase() == 'YES'}"
                      class="badge badge-outline-success">이용가능</span>
                <span th:if="${item.fsStatus != null and item.fsStatus.toUpperCase() == 'NO'}"
                      class="badge badge-outline-danger">이용불가</span>
                <a th:href="@{/facility/read/{fsNum}(fsNum=${item.facilitiesNum})}"
                   class="btn btn-success px-2 py-1" style="font-size: 0.8rem; line-height: 1;">
                  상세보기
                </a>

                <form th:action="@{/facility/refill/{num}(num=${item.facilitiesNum})}" method="post">
                  <button type="submit" class="btn btn-success px-2 py-1" style="font-size: 0.8rem; line-height: 1;">
                    재입고하기</button>
                </form>
              </td>

            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div>
</body>

</html>
