<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>수정하기</title>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">
    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">조직 수정</h2>

        <form id="modifyForm" action="/facility/modify" method="post" enctype="multipart/form-data">
            <div class="container p-4" style="max-width: 500px;">

                <div class="mb-3 user-box text-center">
                    <div class="border mb-2" style="width: 103px; height: 132px; margin: auto ;display: flex; align-items: center; justify-content: center;">
                        <img id="pictureTemp"
                             th:src="${data.fsPictureMeta != null} ? @{${data.fsPictureMeta}} : ''"
                             style="width: 100%; height: 100%; object-fit: contain;"
                             th:classappend="${data.fsPicture == null} ? ' d-none' : ''">
                    </div>
                    <p class="file-name">수정할 이미지를 선택해 주세요.</p>
                    <button id="pictureBtn" type="button" class="custom-file-upload btn btn-primary border" style="z-index: 99">이미지 선택</button>
                    <input hidden type="file" id="adminProfile" name="fsPicture" class="btn btn-light form-control rounded-pill"
                           accept=".webp, .png, .jpeg, .jpg, .gif" style="padding: 8px;">
                    <small id="fileError" class="text-danger d-none"><br>올바른 파일이 선택되지 않았습니다.<br>.webp, .jpg, .jpeg, .png, .gif 파일만 지원합니다.</small>
                </div>

                <div class="mb-3">
                    <label class="form-label">시설명</label>
                    <input type="text" class="form-control" th:value="${data.companyDTO.companyName}" readonly>
                    <input type="hidden" class="form-control" name="facilitiesNum" th:value="${data.facilitiesNum}" readonly>
                </div>

                <div class="mb-3">
                    <label class="form-label">서비스명</label>
                    <input type="text" class="form-control" name="fsName" th:value="${data.fsName}">
                </div>

                <div class="mb-3">
                    <label class="form-label">상세설명</label>
                    <textarea class="form-control" name="fsContent" rows="4" th:text="${data.fsContent}"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">가격</label>
                    <input type="number" class="form-control" name="fsPrice" th:value="${data.fsPrice}">
                </div>

                <div class="mb-3">
                    <label class="form-label">수량</label>
                    <div class="input-group">
                        <input type="text" class="form-control" th:value="${data.fsAmount}+' 명이 이용중입니다.'" readonly>
                        <span class="input-group-text">/</span>
                        <input type="number" min="0" class="form-control" id="fsAmountMax" name="fsAmountMax" th:value="${data.fsAmountMax}">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">상태</label>
                    <select class="form-control" name="fsStatus">
                        <option th:value="yes" th:selected="${data.fsStatus == 'yes'}">이용가능</option>
                        <option th:value="no" th:selected="${data.fsStatus == 'no'}">이용불가</option>
                    </select>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <a th:href="@{/facility/list/{num}(num=${data.companyDTO.companyNum})}" class="btn btn-secondary">취소</a>
                    <a th:href="@{/facility/delete/{num}(num=${data.facilitiesNum})}" class="btn btn-danger">삭제</a>
                    <button type="submit" class="btn btn-primary">저장</button>
                </div>

            </div>
        </form>
    </div>

</div>
</body>
</html>