<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
  <meta charset="UTF-8">
  <title>상세보기</title>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">
  <script>
    let errmsg = $(errmsg)
    if(errmsg){
      alert(errmsg);
    }
  </script>

  <div class="container mt-4 w-100 bg-light">
    <h2 class="fw-bold mb-4 text-center">조직 상세보기</h2>
    <div class="container p-4" style="max-width: 700px;">
      <!-- 상세 -->
      <div class="mb-2"><label class="form-label">시설명</label><p class="form-control" th:text="${data.companyDTO.companyName}"></p></div>
      <div class="mb-2"><label class="form-label">정보 글 1</label><p class="form-control" th:text="${data.facTitle}"></p></div>
      <div class="mb-2"><label class="form-label">정보 글 2</label><p class="form-control" th:text="${data.facContent}"></p></div>

      <div class="d-flex justify-content-center gap-3">
        <a th:href="@{/facility/list/{num}(num=${data.companyDTO.companyNum})}" class="btn btn-secondary">목록</a>
        <a th:href="@{/facility/modify/{num}(num=${data.facilitiesNum})}" class="btn btn-success">수정</a>
      </div>
    </div>
  </div>

</div>

</body>
</html>
