<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 등록</title>
    <style>
        .content {
            margin: auto;
        }

        .card {
            width: 100%;
        }

        .card-header{
            text-align: center;
        }

        .card-footer {
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">게시글 등록</h2>

        <form action="/notice/insert" method="post">
<!--            <input type="hidden" name="memberNum" th:value="${memberNum}">-->

            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <label for="noticeTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="noticeTitle" placeholder="제목을 입력하세요" name="noticeTitle" required>
                    </div>
                    <div class="mb-4">
                        <label for="noticeContent" class="form-label">내용</label>
                        <textarea class="form-control" rows="19" id="noticeContent" name="noticeContent" required></textarea>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center gap-3">
                    <button type="button" onclick="location.href='/notice/list'" class="btn btn-secondary px-4">목록</button>
                    <button type="submit" class="btn btn-primary px-4">등록</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
</body>
</html>