<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

<head>
  <meta charset="UTF-8">
  <title>공지사항 목록</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .table td {
      vertical-align: middle;
    }
  </style>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

  <div class="container mt-4 w-100 bg-light">
    <h3 class="fw-bold mb-4 text-center">공지사항</h3>
    <h6 class="fw-bold mb-4 text-center">업데이트 정보 등 다양한 소식을 알려드립니다.</h6>

    <!-- 검색 기능 -->
    <form th:action="@{/notice/list}" method="get" class="row g-3 align-items-end mb-4">

      <!-- 검색 조건 -->
      <div class="col-md-3">
        <label class="form-label">검색 조건</label>
        <select name="type" class="form-select" style="height: 35px; font-size: 0.9rem;">
          <option value="S" th:selected="${type=='S'}">제목</option>
          <option value="C" th:selected="${type=='C'}">내용</option>
          <option value="SC" th:selected="${type=='SC'}">제목+내용</option>
        </select>
      </div>

      <!-- 검색어 입력 -->
      <div class="col-md-6">
        <label class="form-label">검색어</label>
        <input class="form-control" th:value="${keyword}"  placeholder="검색어 입력" name="keyword" type="text" style="height: 40px;">
      </div>

      <!-- 버튼 -->
      <div class="col-md-3 d-flex align-items-end gap-2">
        <button class="btn btn-primary w-50" type="submit">검색</button>
        <button class="btn btn-success w-50" type="button" th:onclick="|location.href='@{/notice/insert}'|">등록</button>
      </div>

    </form>



    <!--목록-->
    <div class="row mt-4">
      <div class="col-12">
        <table class="table table-bordered text-company mb-0">
          <thead class="table-light text-center">
          <tr>
            <th style="width: 10%" class="text-center">번호</th>
            <th style="width: 75%">제목</th>
            <th style="width: 15%" class="text-center">등록일</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="data:${list}">
            <td class="text-center" th:text="${data.noticeNum}"></td>
            <td>
              <a th:href="@{/notice/read/{noticeNum}(noticeNum=${data.noticeNum})}" th:text="${data.noticeTitle}"></a>
            </td>
            <td class="text-center" th:text="${#temporals.format(data.modifyDate,'yyyy-MM-dd')}"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
    <!-- 페이징 -->
  <nav>
    <ul class="pagination justify-content-center align-items-center mt-3">
      <!-- 첫 페이지 이동 -->
      <li class="page-item" th:classappend="${list.number == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/notice/list?page=0}">&laquo;</a>
      </li>
      <!-- 이전 페이지 이동 -->
      <li class="page-item" th:classappend="${!list.hasPrevious()} ? 'disabled'">
        <a class="page-link" th:href="@{/notice/list?page={prev}(prev=${list.number - 1})}">이전</a>
      </li>
      <!-- 페이지 번호 -->
      <li class="page-item" th:each="pageNum : ${#numbers.sequence(
                (list.number - 4 > 0 ? list.number - 4 : 0),
                (list.number + 4 < list.totalPages - 1 ? list.number + 4 : list.totalPages - 1))}"
          th:classappend="${pageNum == list.number} ? 'active'">
        <a class="page-link" th:href="@{/notice/list?page={p}(p=${pageNum})}" th:text="${pageNum + 1}"></a>
      </li>
      <!-- 다음 페이지 이동 -->
      <li class="page-item" th:classappend="${!list.hasNext()} ? 'disabled'">
        <a class="page-link" th:href="@{/notice/list?page={next}(next=${list.number + 1})}">다음</a>
      </li>
      <!-- 마지막 페이지 이동 -->
      <li class="page-item" th:classappend="${list.number == list.totalPages - 1} ? 'disabled'">
        <a class="page-link" th:href="@{/notice/list?page={last}(last=${list.totalPages - 1})}">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
