<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정</title>
    <style>
        .content {
            margin: auto;
        }

        .card {
            width: 100%;
        }

        .card-header{
            text-align: center;
        }

        .card-footer {
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">게시글 수정</h2>

        <form action="/notice/modify" method="post">
            <!--카드형식으로 폼-->
            <div class="card mb-3">

                <div class="card-body">
                    <!-- (수정) name="noticeNum"으로 변경 -->
                    <input type="hidden" id="noticeNum" name="noticeNum" readonly th:value="${noticedata.noticeNum}">
<!--                    <input type="hidden" id="noticeView" name="noticeView" readonly th:value="${noticedata.noticeView}">-->

                    <div class="mb-3 mt-3">
                        <label for="noticeTitle" class="form-label">제목:</label>
                        <input th:value="${noticedata.noticeTitle}"
                               type="text" class="form-control" id="noticeTitle" placeholder="제목을 입력하세요" name="noticeTitle">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="noticeContent">내용:</label>
                        <!--열고 닫는 태그들은 th:text. 하나로 쓰는 태그는 value.-->
                        <textarea th:utext="${noticedata.noticeContent}" class="form-control" rows="5" id="noticeContent" name="noticeContent"></textarea>
                    </div>
                </div><!--입력양식-->
                <div class="card-footer d-flex justify-content-center gap-3">
                    <button th:onclick="|location.href='@{/notice/read/{id}(id=${noticedata.noticeNum})}'|" class="btn btn-outline-secondary px-4">이전</button>
                    <button type="submit" class="btn btn-primary px-4">수정</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>