<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>물품 목록</title>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">물품 목록</h2>

        <div class="mb-3 text-end" >
            <a href="/erd/insert" class="btn btn-success px-2 py-1">물품 추가</a>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered align-middle">
                <thead class="table-light">
                <tr style="text-align: center">
                    <th style="width:10%;">이미지</th>
                    <th style="width:15%;">분류</th>
                    <th style="width:15%;">물품명</th>
                    <th style="width:15%;">SKU번호</th>
                    <th style="width:10%;">수량</th>
                    <th style="width:15%;">비고</th>
                    <th style="width:7%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="erd : ${erd.content}" style="text-align: center">
                    <td>
                        <img th:if="${erd.erdPictureMeta != null}"
                             th:src="@{${erd.erdPictureMeta}}"
                             style="width: 80px; height: 80px; object-fit: contain; background-color: #fff; border: 1px solid #ccc;">

                        <img th:unless="${erd.erdPictureMeta != null}"
                             th:src="@{/profile/default.png}"
                             style="width: 80px; height: 80px; object-fit: contain; background-color: #fff; border: 1px solid #ccc;">
                    </td>
                    <td th:text="${erd.erdType}"></td>
                    <td th:text="${erd.erdName}"></td>
                    <td th:text="${erd.erdSku}"></td>
                    <td th:text="${erd.erdUnit}"></td>
                    <td th:text="${erd.erdNote}"></td>
                    <td><a th:href="@{/erd/update/{id}(id=${erd.erdNum})}" class="btn btn-success px-2 py-1">수정</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>
