<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutmobile.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>
<body>

<div layout:fragment="contentorder">
    <div class="container mt-4">
        <h5 class="mb-3">주문 내역</h5>
        <div class="row row-cols-1 gy-3">
            <div class="col" th:each="item : ${list}">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <small class="text-muted" th:text="${item.formatDate}">2025.04.20</small>
                            <span class="badge"
                                  th:classappend="${item.orderstoreStatus == 'paid' ? 'bg-primary' : (item.orderstoreStatus == 'end' ? 'bg-success' : 'bg-secondary')}"
                                  th:text="${item.orderstoreStatus}">상태</span>
                        </div>

                        <h6 class="mt-2 mb-1">
                            <a href="#"
                               class="text-decoration-none text-dark fw-bold"
                               th:text="${item.orderstoreStoreName}">스토어 이름</a>
                        </h6>

                        <p class="mb-1">
                            <span th:text="${item.orderstoreFirstItemName}">일반 우동</span>
                            <span th:if="${item.orderstoreitemDTOList.size()>1}"
                                  th:text="' 외 ' + ${item.orderstoreitemDTOList.size() - 1} + ' 개'"></span>
                        </p>

                        <p class="fw-bold text-end mb-0" th:text="${item.orderstoreFinalPrice} + '원'">총 금액</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
