<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>외부업체 등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="w-100 vh-100 bg-light">
<div layout:fragment="content">
    <div class="container p-4 rounded shadow-sm w-100 h-100" style="max-width: 400px;">
        <h1 class="text-center mb-4">외부업체 등록</h1>
        <form action="/admin/store/insert" method="post" enctype="multipart/form-data">

            <div class="mb-3 user-box text-center">
                <div class="border mb-2" style="width: 103px; height: 132px; margin: auto ;display: flex; align-items: center; justify-content: center;">
                    <img id="pictureTemp" style="width: 100%; height: 100%; object-fit: contain;" src="#" class="d-none">
                </div>
                <p class="file-name">사진이 선택되지 않았습니다.</p>
                <button id="PictureBtn" type="button" class="custom-file-upload btn btn-primary border" style="z-index: 99">이미지 선택</button>
                <input hidden type="file" id="adminProfile" name="storeProfile" class="btn btn-light form-control rounded-pill"
                       accept=".webp, .png, .jpeg, .jpg, .gif" style="padding: 8px;">
                <small id="fileError" class="text-danger d-none"><br>올바른 파일이 선택되지 않았습니다.<br>.webp, .jpg, .jpeg, .png, .gif 파일만 지원합니다.</small>
            </div>
            <div class="mb-3">
                <label class="form-label">제공할 호텔</label>
                <select class="form-select" name="companyNum">
                    <option>호텔목록</option>
                    <option th:each="data:${companyMap}" th:unless="${companyMap == null or #maps.isEmpty(companyMap)}" th:selected="${chosenCompany == data.key}" th:value="${data.key}" th:text="${data.value}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">외부 업체 이름</label>
                <input type="text" class="form-control" name="storeName" required>
            </div>
            <div class="mb-3">
                <label class="form-label">외부업체 폰 번호</label>
                <input type="text" class="form-control" name="storePhone" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="storeAddress">외부 업체 주소</label>
                <div class="input-group">
                    <input style="background-color: #ced4da;" readonly
                            type="text" id="storeAddress" class="form-control" name="storeAddress" required>
                    <button class="btn btn-outline-secondary"
                            type="button" onclick="insertAddress()">주소 검색</button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">외부 업체 대표자명</label>
                <input type="text" class="form-control" name="storeCeoName" required>
            </div>
            <div class="mb-3">
                <label class="form-label">외부 업체 패스워드</label>
                <input type="password" class="form-control" name="storePassword" required>
            </div>
            <input type="hidden" name="storeStatus" value="alive" readonly>
            <input type="hidden" id="storeLatitude"  name="storeLatitude" readonly>
            <input type="hidden" id="storeLongitude" name="storeLongitude" readonly>
            <input type="hidden" id="storeWtmX" name="storeWtmX" readonly>
            <input type="hidden" id="storeWtmY" name="storeWtmY" readonly>
            <div class="mb-3">
                <label class="form-label d-block">카테고리</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="korean" value="한식" required>
                    <label class="form-check-label" for="korean">한식</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="chinese" value="중식">
                    <label class="form-check-label" for="chinese">중식</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="japanese" value="일식">
                    <label class="form-check-label" for="japanese">일식</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="asian" value="아시안">
                    <label class="form-check-label" for="asian">아시안</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="western" value="양식">
                    <label class="form-check-label" for="western">양식</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="fastfood" value="패스트푸드">
                    <label class="form-check-label" for="fastfood">패스트푸드</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storeCategory" id="cafe" value="카페">
                    <label class="form-check-label" for="cafe">카페</label>
                </div>
            </div>

            <div class="d-flex justify-content-center gap-3">
                <button type="button" onclick="formSubmitHandler(this)" class="btn btn-success">등록</button>
                <a href="/admin/store/list" class="btn btn-danger">취소</a>
            </div>
        </form>
    </div>




    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=86099e0ef2896853401ec861fd5ea35b&libraries=services"></script>
    <script>
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();

        function insertAddress() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address; // 최종 주소 변수
                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("storeAddress").value = addr;
                }
            }).open();
        }

        function formSubmitHandler(button) {
            let storeAddress = document.getElementById("storeAddress").value;
            if(storeAddress&&storeAddress.trim().length>0){
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(storeAddress, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {
                        var result = results[0];
                        document.getElementById("storeLatitude").value=result.y;
                        document.getElementById("storeLongitude").value=result.x;
                        fetch(`https://dapi.kakao.com/v2/local/geo/transcoord.json?x=${result.x}&y=${result.y}&output_coord=WTM`, {
                            headers: {
                                Authorization: 'KakaoAK 7cb5773218158eba334d7c0a3f26cd9d'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById("storeWtmX").value = data.documents[0].x;
                                document.getElementById("storeWtmY").value = data.documents[0].y;
                                button.closest("form").submit();
                            })
                            .catch(error=>{
                                console.error(error);
                                alert("좌표 변환 중 오류")
                            })
                    } else {
                        alert("주소를 다시 확인해주세요.")
                    }
                });
            }
            return false;
        }
    </script>
    <script>
        // 프로필 사진
        document.getElementById('adminProfile').addEventListener('change', function () {
            const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.webp)$/i;
            const filePath = this.value;
            const errorMessage = document.getElementById('fileError');
            const previewImage = document.getElementById('pictureTemp');
            const file = this.files[0];

            if (file.size > 1024 * 1024) {
                alert("파일 용량이 너무 큽니다. (최대 1MB)");
                this.value = null;
                document.querySelector('.file-name').textContent = "사진이 선택되지 않았습니다.";
                return;
            }

            if (!allowedExtensions.exec(filePath)) {
                this.value = '';
                errorMessage.classList.remove('d-none');
                previewImage.classList.add('d-none');
            } else {
                errorMessage.classList.add('d-none');

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                        previewImage.classList.remove('d-none');
                    };
                    reader.readAsDataURL(file);
                }
            }
        });


        document.getElementById('PictureBtn').addEventListener('click', function () {
            document.getElementById('adminProfile').click();
        });


        document.getElementById('adminProfile').addEventListener('change', function () {
            let fileName = this.files.length > 0 ? this.files[0].name : "사진이 선택되지 않았습니다.";
            document.querySelector('.file-name').textContent = fileName;
        });

    </script>

</div>
</body>
</html>
