<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>요식업체 등록</title>
    <style>
        td {
            vertical-align: middle;
        }
    </style>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">요식업체 등록</h2>

        <form action="/admin/store/insert" method="post" enctype="multipart/form-data">
            <div class="container p-4" style="max-width: 700px;">
                <div class="mb-3 user-box text-center">
                    <div class="border mb-2" style="width: 103px; height: 132px; margin: auto ;display: flex; align-items: center; justify-content: center;">
                        <img id="pictureTemp" style="width: 100%; height: 100%; object-fit: contain;" src="#" class="d-none">
                    </div>
                    <p class="file-name">이미지가 선택되지 않았습니다.</p>
                    <button id="PictureBtn" type="button" class="custom-file-upload btn btn-primary border" style="z-index: 99">이미지 선택</button>
                    <input hidden type="file" id="adminProfile" name="storeProfile" class="btn btn-light form-control rounded-pill"
                           accept=".webp, .png, .jpeg, .jpg, .gif" style="padding: 8px;">
                    <small id="fileError" class="text-danger d-none"><br>올바른 파일이 선택되지 않았습니다.<br>.webp, .jpg, .jpeg, .png, .gif 파일만 지원합니다.</small>
                </div>
                <label class="form-label">제공할 호텔</label>
                <div class="mb-3 input-group">
                    <input type="text" id="companyName" class="form-control" readonly style="background-color: #f1f1f1" required>
                    <input hidden id="companyNum" name="companyNum" class="form-control">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#companySearchModal">검색</button><!--모달버튼? 누르면 검색가능한 창 뜸.-->
                </div>
                <div class="mb-3">
                    <label class="form-label">상호명</label>
                    <input type="text" class="form-control" name="storeName" required>
                </div>
                <div class="mb-3">
                    <label class="form-label d-block">카테고리</label>
                    <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="korean" value="한식" required>
                            <label class="form-check-label" for="korean">한식</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="chinese" value="중식">
                            <label class="form-check-label" for="chinese">중식</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="japanese" value="일식">
                            <label class="form-check-label" for="japanese">일식</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="asian" value="아시안">
                            <label class="form-check-label" for="asian">아시안</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="western" value="양식">
                            <label class="form-check-label" for="western">양식</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="fastfood" value="패스트푸드">
                            <label class="form-check-label" for="fastfood">패스트푸드</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory" id="cafe" value="카페">
                            <label class="form-check-label" for="cafe">카페</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">전화번호</label>
                    <div class="row g-2">
                        <div class="col">
                            <select id="storePhoneone" class="form-select">
                                <option>02</option>
                                <option>031</option>
                                <option>032</option>
                                <option>041</option>
                            </select>
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col">
                            <input type="number" id="storePhonetwo" class="form-control">
                        </div>
                        <div class="col-auto">-</div>
                        <div class="col">
                            <input type="number" id="storePhonethree" class="form-control">
                        </div>
                        <input hidden name="storePhone" id="storePhone">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="storeAddress">사업장 주소</label>
                    <div class="row g-2">
                        <div class="col-auto">
                            <input type="text" id="storeAddressZonecode" class="form-control" style="width: 120px; background-color: #ced4da;" readonly required>
                        </div>
                        <div class="col">
                            <input type="text" id="storeAddressFound" class="form-control" style="background-color: #ced4da;" readonly required>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-secondary" onclick="insertAddress()">주소 검색</button>
                        </div>
                    </div>
                    <input type="text" id="storeAddressDetail" class="form-control mt-2" placeholder="상세 주소를 입력해주세요.">
                    <input readonly type="hidden" id="storeAddress" name="storeAddress"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">대표자명</label>
                    <input type="text" class="form-control" name="storeCeoName" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">패스워드</label>
                    <input type="password" class="form-control" name="storePassword" required>
                </div>
                <input type="hidden" name="storeStatus" value="alive" readonly>
                <input type="hidden" id="storeLatitude"  name="storeLatitude" readonly>
                <input type="hidden" id="storeLongitude" name="storeLongitude" readonly>
                <input type="hidden" id="storeWtmX" name="storeWtmX" readonly>
                <input type="hidden" id="storeWtmY" name="storeWtmY" readonly>
                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="button" onclick="formSubmitHandler(this)" class="btn btn-success">등록</button>
                    <a href="/admin/store/list" class="btn btn-danger">취소</a>
                </div>
            </div>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="companySearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">호텔 검색</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 검색 폼 -->
                    <form class="row g-3 align-items-end" id="companySearchForm">
                        <div class="col-md-3" style="width: 20%;">
                            <select name="choice" class="form-select" style=" height: 35px; font-size: 0.9rem;">
                                <option value="branch">지점</option>
                                <option value="facility">외부시설</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="width: 20%;">
                            <select name="select" class="form-select" style=" height: 35px; font-size: 0.9rem;">
                                <option selected value="전체">검색 조건</option>
                                <option value="company">조직명</option>
                                <option value="brandName">브랜드명</option>
                                <option value="businessNum">사업자번호</option>
                            </select>
                        </div>

                        <div class="col-md-4" style="width: 45%;">
                            <input name="keyword" type="text" class="form-control" placeholder="검색어 입력" style="height: 35px; font-size: 0.9rem;" th:value="${keyword}">
                        </div>

                        <div class="col-md-2 d-grid" style="width: 15%;">
                            <button type="button" id="searchBtn" onclick="searchCompanys(this)" class="btn btn-primary">검색</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex flex-column justify-content-center">
                    <!-- 결과 테이블 -->
                    <div class="row w-100" id="searchedCompanyList">

                    </div><!--row-->
                </div><!--modal footer-->
            </div><!--modal content-->
        </div><!--modal dialog-->
    </div><!--modal-->



    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=86099e0ef2896853401ec861fd5ea35b&libraries=services"></script>
    <script>
        document.addEventListener("DOMContentLoaded",function () {
            fetch("/company/list/store",{
                method:"POST"
            })
                .then(response=>{
                    if(!response.ok){
                        return response.text()
                            .then(body=>alert(body))
                    }else{/*응답 오케이라면??*/
                        return response.json();
                    }
                })
                .then(data => {
                    listCompanys(data)
                })
        })

        function searchCompanys(button) {
            const formData = new FormData(button.form);
            console.log(formData);
            fetch("/company/list/store",{
                method: "POST",
                body: formData
            })
                .then(response=>{
                    if(!response.ok){
                        return response.text()
                            .then(body=>alert(body))
                    }else{/*응답 오케이라면??*/
                        return response.json();
                    }
                })
                .then(data => {
                    console.log(data)
                    listCompanys(data)
                })
        }

        function listCompanys(data) {
            let list = document.getElementById("searchedCompanyList");
            let fullstr = "";

            let start = `<div class="col-12">
                            <table class="table table-bordered">
                                <thead class="table-light text-center">
                                <tr>
                                    <th style="width: 11%">사진</th>
                                    <th style="width: 14%;">브랜드명</th>
                                    <th style="width: 14%;">본사명</th>
                                    <th style="width: 14%;">지점명</th>
                                    <th style="width: 14%;">외부시설명</th>
                                    <th style="width: 14%;">전화번호</th>
                                    <th style="width: 12%;"></th>
                                </tr>
                                </thead>

                                <tbody>`

            let endfirst = `</tbody>
                            </table>
                        </div><!--col12:테이블-->

                        <div class="col-12">
                            <div>
                                <ul class="pagination justify-content-center">
                                    <li class="${data.number === 0 ? 'page-item disabled':'page-item'}">
                                        <button class="page-link" data-page="0" onclick="changePage(this)">처음</button>
                                    </li>
                                    <li class="${!data.hasPrevious ? 'disabled page-item':'page-item'}">
                                        <a class="page-link" data-page="${data.number - 1}" onclick="changePage(this)">이전</a>
                                    </li>`

            let startnum = data.number - 2 > 0 ? data.number - 2 : 0;
            let endnum = data.number + 3 < data.totalPages - 1 ? data.number + 3 : data.totalPages - 1;

            let endsecond = "";
            for (let pageNum = startnum; pageNum<endnum; pageNum++ ){
                endsecond += `
                                    <li class="page-item"
                                        class="${pageNum === data.number ? 'active page-item':'page-item'}">
                                        <button class="page-link" data-page="${pageNum}" onclick="changePage(this)">${pageNum + 1}</button>
                                    </li>`
            }

            let endthird = `
                                <li class="${!data.hasNext ? 'disabled page-item':'page-item'}">
                                    <button class="page-link" data-page="${data.number + 1}" onclick="changePage(this)">다음</button>
                                </li>
                                <li class="${(data.number === data.totalPages - 1) ? 'page-item disabled':'page-item'}">
                                    <button class="page-link" data-page="${data.totalPages - 1}" onclick="changePage(this)">마지막</button>
                                </li>
                            </ul>
                        </div>
                    </div><!--col12:페이징-->`

            let end = endfirst + endsecond + endthird;

            for(let i=0;i<data.content.length;i++){

                let first = `<!--반복시작-->
                                <tr class="text-center">
                                    <td>`

                let second = "";
                if(data.content[i].companyPictureMeta != null){
                    second = `<img src="${data.content[i].companyPictureMeta}"
                                     style="width: 60px; height: 80px;" alt="지사/지점 사진">`
                }else {
                    second = `<img src="/profile/default.png"
                                     style="width: 60px; height: 80px;" alt="지사/지점 사진">`
                }

                let third = `
                            </td>
                            <td>${data.content[i].companyBrand}</td>
                            <td>${data.content[i].companyParentName}</td>
                            <td>${data.content[i].branchName}</td>
                            <td>${data.content[i].facilityName}</td>
                            <td>${data.content[i].companyPhone}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-outline-success px-2 py-1"
                                        style="font-size: 0.8rem; line-height: 1;"
                                        data-companynum="${data.content[i].companyNum}"
                                        data-companyname="${data.content[i].companyName}"
                                        onclick="selectBranch(this)">
                                    선택
                                </button>
                            `

                let fourth="";
                if(data.content[i].companyStatus != null && data.content[i].companyStatus.toUpperCase() === 'INACTIVE'){
                    fourth = `<!-- 비활성화 상태 배지 -->
                                <span class="badge badge-outline-danger">비활성화</span>
                            </td>
                        </tr><!--반복 끝-->`
                }else {
                    fourth = `</td>
                        </tr><!--반복 끝-->`
                }

                fullstr += first + second + third + fourth;
            }
            list.innerHTML = start + fullstr + end;
        }

        function selectBranch(button) {
            let companyNumInput = document.getElementById("companyNum");
            let companyNameInput = document.getElementById("companyName");
            companyNumInput.value = button.dataset.companynum;
            companyNameInput.value = button.dataset.companyname;
            console.log(button)
            bootstrap.Modal.getInstance(document.getElementById("companySearchModal")).hide();
        }

        function changePage(button) {
            const formData = new FormData(document.getElementById("companySearchForm"));
            let pageNum = button.dataset.page;
            fetch(`/company/list/store?page=${pageNum}`,{
                method: "POST",
                body: formData
            })
            .then(response=>{
                if(!response.ok){
                    return response.text()
                        .then(body=>alert(body))
                }else{/*응답 오케이라면??*/
                    return response.json();
                }
            })
            .then(data => {
                listCompanys(data)
            })
        }
    </script>

    <script>
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();

        function insertAddress() {
            new daum.Postcode({
                oncomplete: function (data) {
                    console.log(data)
                    document.getElementById("storeAddressFound").value = data.address;
                    document.getElementById("storeAddressZonecode").value = data.zonecode;
                }
            }).open();
        }

        function formSubmitHandler(button) {

            document.getElementById('storePhone').value = document.getElementById('storePhoneone').value + "-" + document.getElementById('storePhonetwo').value + "-" + document.getElementById('storePhonethree').value;
            console.log(document.getElementById('storePhone').value);


            document.getElementById('storeAddress').value =
                document.getElementById("storeAddressFound").value + "\u00A0" + document.getElementById("storeAddressZonecode").value
                + "\u00A0" + document.getElementById('storeAddressDetail').value;
            
            let storeAddress = document.getElementById("storeAddressFound").value;

            if(storeAddress&&storeAddress.trim().length>0){
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(storeAddress, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {
                        var result = results[0];
                        document.getElementById("storeLatitude").value=result.y;
                        document.getElementById("storeLongitude").value=result.x;
                        fetch(`https://dapi.kakao.com/v2/local/geo/transcoord.json?x=${result.x}&y=${result.y}&output_coord=WTM`, {
                            headers: {
                                Authorization: 'KakaoAK 7cb5773218158eba334d7c0a3f26cd9d'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById("storeWtmX").value = data.documents[0].x;
                                document.getElementById("storeWtmY").value = data.documents[0].y;
                                button.closest("form").submit();
                            })
                            .catch(error=>{
                                console.error(error);
                                alert("좌표 변환 중 오류")
                            })
                    } else {
                        alert("주소를 다시 확인해주세요.")
                    }
                });
            }
            return false;
        }
    </script>
    <script>
        // 프로필 사진
        document.getElementById('adminProfile').addEventListener('change', function () {
            const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.webp)$/i;
            const filePath = this.value;
            const errorMessage = document.getElementById('fileError');
            const previewImage = document.getElementById('pictureTemp');
            const file = this.files[0];

            // if (file.size > 1024 * 1024) {
            //     alert("파일 용량이 너무 큽니다. (최대 1MB)");
            //     this.value = null;
            //     document.querySelector('.file-name').textContent = "사진이 선택되지 않았습니다.";
            //     return;
            // }

            if (!allowedExtensions.exec(filePath)) {
                this.value = '';
                errorMessage.classList.remove('d-none');
                previewImage.classList.add('d-none');
            } else {
                errorMessage.classList.add('d-none');

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                        previewImage.classList.remove('d-none');
                    };
                    reader.readAsDataURL(file);
                }
            }
        });


        document.getElementById('PictureBtn').addEventListener('click', function () {
            document.getElementById('adminProfile').click();
        });


        document.getElementById('adminProfile').addEventListener('change', function () {
            let fileName = this.files.length > 0 ? this.files[0].name : "사진이 선택되지 않았습니다.";
            document.querySelector('.file-name').textContent = fileName;
        });

    </script>

</div>
</body>
</html>
