<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>요식업체 정보수정</title>
</head>
<body style="background-color: #f8f9fa;">
<div layout:fragment="content">

    <div class="container mt-4 w-100 bg-light">
        <h2 class="fw-bold mb-4 text-center">요식업체 수정</h2>

        <form action="/admin/store/modify" method="post" enctype="multipart/form-data">
            <div class="container p-4" style="max-width: 700px;">
                <input type="hidden" name="storeNum" th:value="${data.storeNum}">
                <input type="hidden" name="storeStatus" value="alive">
                <input type="hidden" id="storeLatitude" name="storeLatitude" th:value="${data.storeLatitude}">
                <input type="hidden" id="storeLongitude" name="storeLongitude" th:value="${data.storeLongitude}">
                <input type="hidden" id="originalAddress" th:value="${data.storeAddress}">
                <input type="hidden" id="storeWtmX" name="storeWtmX" readonly>
                <input type="hidden" id="storeWtmY" name="storeWtmY" readonly>

                <div class="mb-3 user-box text-center">
                    <div class="border mb-2" style="width: 103px; height: 132px; margin: auto; display: flex; align-items: center; justify-content: center;">
                        <img id="pictureTemp" th:if="${data.storeProfileMeta != null}" th:src="@{${data.storeProfileMeta}}"
                             style="width: 100%; height: 100%; object-fit: contain;" />
                        <img id="pictureTemp" th:unless="${data.storeProfileMeta != null}" th:src="@{'/store/default.png'}"
                             style="width: 100%; height: 100%; object-fit: contain;" />
                    </div>
                    <p class="file-name">이미지가 선택되지 않았습니다.</p>
                    <button id="PictureBtn" type="button" class="custom-file-upload btn btn-primary border">이미지 선택</button>
                    <input hidden type="file" id="adminProfile" name="storeProfile"
                           accept=".webp, .png, .jpeg, .jpg, .gif" th:value="${data.storeProfile}">
                    <small id="fileError" class="text-danger d-none">
                        <br>올바른 파일이 선택되지 않았습니다.<br>.webp, .jpg, .jpeg, .png, .gif 파일만 지원합니다.
                    </small>
                </div>

                <div class="mb-3">
                    <label class="form-label">상호명</label>
                    <input type="text" class="form-control" name="storeName" th:value="${data.storeName}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label d-block">카테고리</label>
                    <div class="text-center">
                        <div th:each="cat : ${storeCategoryList}" class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storeCategory"
                                   th:id="${cat}" th:value="${cat}" th:checked="${data.storeCategory == cat}">
                            <label class="form-check-label" th:for="${cat}" th:text="${cat}"></label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">대표 번호</label>
                    <input type="text" class="form-control" name="storePhone" th:value="${data.storePhone}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">가게 대표자명</label>
                    <input type="text" class="form-control" name="storeCeoName" th:value="${data.storeCeoName}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">사업장 주소</label>
                    <div class="input-group">
                        <input style="background-color: #ced4da;" readonly
                               type="text" id="storeAddress" class="form-control" name="storeAddress"
                               th:value="${data.storeAddress}" required>
                        <button class="btn btn-outline-secondary" type="button" onclick="showMapBox()">주소 검색</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">가게 패스워드</label>
                    <input type="text" class="form-control" name="storePassword" th:value="${data.storePassword}" required>
                </div>
                <div class="d-flex justify-content-center gap-3">
                    <button type="button" onclick="formSubmitHandler(this)" class="btn btn-success">저장</button>
                    <a th:href="@{'/admin/store/read?idid=' + ${data.storeNum}}" class="btn btn-danger">취소</a>
                </div>
            </div>
        </form>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=86099e0ef2896853401ec861fd5ea35b&libraries=services"></script>
    <script>
        //주소 입력
        var geocoder = new daum.maps.services.Geocoder();
        function showMapBox() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address;
                    document.getElementById("storeAddress").value = addr;
                }
            }).open();
        }

        function formSubmitHandler(button) {
            let storeAddress = document.getElementById("storeAddress").value;
            let originalAddress = document.getElementById("originalAddress").value;
            if (storeAddress!==originalAddress) {
                geocoder.addressSearch(storeAddress, function(results, status) {
                    if (status === daum.maps.services.Status.OK) {
                        var result = results[0];
                        document.getElementById("storeLatitude").value = result.y;
                        document.getElementById("storeLongitude").value = result.x;
                        fetch(`https://dapi.kakao.com/v2/local/geo/transcoord.json?x=${result.x}&y=${result.y}&output_coord=WTM`, {
                            headers: {
                                Authorization: 'KakaoAK 7cb5773218158eba334d7c0a3f26cd9d'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById("storeWtmX").value = data.documents[0].x;
                                document.getElementById("storeWtmY").value = data.documents[0].y;
                                button.closest("form").submit();
                            })
                            .catch(error=>{
                                console.error(error);
                                alert("좌표 변환 중 오류")
                            })
                    } else {
                        alert("주소를 다시 확인해주세요.");
                    }
                });
            }else{
                button.closest("form").submit();
            }
        }
    </script>
    <script>
        document.getElementById('adminProfile').addEventListener('change', function () {
            const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.webp)$/i;
            const filePath = this.value;
            const errorMessage = document.getElementById('fileError');
            const previewImage = document.getElementById('pictureTemp');
            const file = this.files[0];

            if (file.size > 1024 * 1024) {
                alert("파일 용량이 너무 큽니다. (최대 1MB)");
                this.value = null;
                document.querySelector('.file-name').textContent = "사진이 선택되지 않았습니다.";
                return;
            }

            if (!allowedExtensions.exec(filePath)) {
                this.value = '';
                errorMessage.classList.remove('d-none');
                previewImage.classList.add('d-none');
            } else {
                errorMessage.classList.add('d-none');

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                        previewImage.classList.remove('d-none');
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        document.getElementById('PictureBtn').addEventListener('click', function () {
            document.getElementById('adminProfile').click();
        });

        document.getElementById('adminProfile').addEventListener('change', function () {
            let fileName = this.files.length > 0 ? this.files[0].name : "사진이 선택되지 않았습니다.";
            document.querySelector('.file-name').textContent = fileName;
        });
    </script>
</div>
</body>
</html>
