<div id="navbarorder" th:fragment="navbarorder">
    <nav class="navbar navbar-light bg-white border-bottom fixed-top">
        <div class="container d-flex justify-content-between align-items-center" style="height: 80px;">
            <!-- 좌측: 뒤로가기 버튼 -->
            <div style="width: 150px;">
                <button class="btn btn-link p-0" onclick="history.back()">
                    <i class="bi bi-arrow-left fs-1" style="color: #77b1fb;"></i>
                </button>
            </div>

            <!-- 중앙: 타이틀 -->
            <div class="text-center flex-grow-1" >
                <a href="/main">
                    <span class="fw-bold" style="font-size: 24px; color: black;">주문</span>
                </a>
            </div>

            <!-- 우측: 주문내역, 장바구니 -->
            <div style="width: 150px; text-align: right;">
                <a href="/roommenu/coupon/insert" class="d-inline-block me-2" style="color: black;">
                    <i class="bi bi-coin fs-3"></i>
                </a>
                <a href="/cart/receipt" class="d-inline-block me-2" style="color: black;">
                    <i class="bi bi-receipt-cutoff fs-3"></i>
                </a>
                <a href="/cart/gocart" class="position-relative d-inline-block" style="color: black;">
                    <i class="bi bi-cart4 fs-3"></i>
                    <span id="cartnumber" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;"></span>
                </a>
            </div>

        </div>
    </nav>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            fetch("/cart/getlength", { credentials: 'same-origin' })
                .then(response => response.text())
                .then(data => {
                    const cartnumber = document.getElementById("cartnumber");
                    const count = parseInt(data);
                    if (!isNaN(count) && count > 0) {
                        cartnumber.textContent = count;
                        cartnumber.style.display = "inline-block";
                    } else {
                        cartnumber.style.display = "none";
                    }
                });
        });
    </script>
</div>
