<!-- fragments/sidebar.html -->
<div id="sidebar" class="sidebar" th:fragment="sidebar">

    <button onclick='location.href="/company/list"'><strong>조직관리</strong></button>

    <button onclick="toggleMenu('memberMenu')"><strong>회원관리</strong></button>
    <div id="memberMenu" class="submenu">
        <a href="/admin/list">- 회원 목록</a>
        <a href="/admin/approve">- 회원 승인</a>
        <a href="/admin/insert">- 회원 등록</a>
    </div>

    <button onclick="toggleMenu('roomList')"><strong>호텔 객실관리</strong></button>
    <div id="roomList" class="submenu">
        <a href="/admin/hotelroom/list">- 호텔 객실 목록 </a>
        <a href="/admin/hotelroom/input ">- 호텔 객실 등록 </a>
    </div>

    <button onclick="toggleMenu('roomBook')"><strong>룸 예약</strong></button>
    <div id="roomBook" class="submenu">
        <a href="/roomlist">- 룸 예약 목록</a>
        <a href="/member-insertroom ">- 룸 예약 등록</a>
    </div>

    <button onclick='location.href="/roommenu/dev/translation"'><strong>번역 승인 관리</strong></button>

    <button onclick="toggleMenu('roomService')"><strong>룸 서비스</strong></button>
    <div id="roomService" class="submenu">
        <a href="/roommenu/list">- 룸 서비스 목록</a>
        <a href="/roommenu/insert">- 룸 서비스 등록</a>
        <a href="/roommenu/adminOrderList">- 룸 주문내역</a>
    </div>

    <button onclick="toggleMenu('extMenu')"><strong>스토어</strong></button>
    <div id="extMenu" class="submenu">
        <a href="/admin/store/list">- 외부업체 목록</a>
        <a href="/admin/store/insert">- 외부업체 등록</a>
    </div>

    <button onclick="toggleMenu('extServiceMenu')"><strong>스토어 서비스</strong></button>
    <div id="extServiceMenu" class="submenu">
        <a href="/admin/store/menu/list">- 서비스 목록</a>
        <a href="/admin/store/menu/insert">- 서비스 등록</a>
        <a href="/admin/store/order/list">- 서비스 주문내역</a>
    </div>

    <button onclick="toggleMenu('erd')"><strong>자재관리</strong></button>
    <div id="erd" class="submenu">
        <a href="/erd/list">- 자재관리 목록</a>
        <a href="/erd/insert">- 자재관리 등록</a>
    </div>

    <button onclick="toggleMenu('settle')"><strong>매출관리</strong></button>
    <div id="settle" class="submenu">
        <a href="/settle/chart">- 매출 조회</a>
        <a href="/salaries/list">- 급여 조회</a>
        <a href="/salaries/insert">- 급여 등록</a>
    </div>

    <button onclick="toggleMenu('notice')"><strong>공지사항</strong></button>
    <div id="notice" class="submenu">
        <a href="/notice/list">- 공지사항</a>
    </div>

    <button onclick="toggleMenu('mobile')"><strong>모바일(임시)</strong></button>
    <div id="mobile" class="submenu">
        <a href="/roomlist/roompassword">- 모바일</a>
    </div>

</div>
