<!--일단 모양만 만듬-->





<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutmobile.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 주문</title>
</head>
<body>
<!-- 매장 리스트 -->
<div layout:fragment="contentorder">
    <div class="list-group">
        <a th:each="data:${list}" th:href="@{'/member/store/read/'+${data.storeNum}}" class="list-group-item list-group-item-action d-flex align-items-center">
            <div>
                <strong th:text="${data.storeName}"></strong><br>
                <small>주소 [[${data.storeAddress}]]</small>
                <small>주소 대신 거리? 00m</small><!--
                todo
                    현재좌표(company의 좌표?) 필요함.
                    해당 가게의 좌표는 있음.

                -->
            </div>
            <span>
                <img th:if="${data.storeProfileMeta != null}"
                     th:src="@{${data.storeProfileMeta}}"
                     style="width: 80px; height: 80px;">

                <img th:unless="${data.storeProfileMeta != null}"
                     th:src="@{/store/default.png}"
                     style="width: 80px; height: 80px;">
            </span>

            <ul class="store-list card-list">
                <li th:each="store : ${list}">
                    <div class="div-card">
                        <a style="text-decoration: none; color: inherit; display: block; width: 100%;"
                           th:href="@{'/member/store/read/'+${store.storeNum}}">
                            <div class="inner-wrapper">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="text-info">
                                        <p th:text="${store.storeName}"></p>
                                        <p th:text="${store.storeAddress}"></p>
                                    </div>
                                    <div class="image-like-container">
                                        <img th:if="${store.storeProfileMeta != null}"
                                             th:src="@{${store.storeProfileMeta}}"
                                             class="store-image">
                                        <img th:unless="${store.storeProfileMeta != null}"
                                             th:src="@{/store/default.png}"
                                             class="store-image">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="like-section">
                            <div class="category-wrapper">
                                <span th:text="${store.storeCategory}" class="category-label"></span>
                            </div>
                            <span th:id="'likeIcon-' + ${roomMenuDTO.roomMenuNum}"
                                  th:attr="onclick='toggleLike(' + ${roomMenuDTO.roomMenuNum} + ')'"
                                  class="like-icon">🤍</span>
                            <span th:id="'likeCount-' + ${roomMenuDTO.roomMenuNum}" class="like-count">0</span>
                        </div>
                    </div>
                </li>
            </ul>
        </a>
    </div>
</div>

</body>
</html>